@model Prueba1.Models.Productos

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-10">

            <div class="card card-outline card-warning">
                <div class="card-header">
                    <h3 class="card-title">Edición de Producto</h3>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label"></label>
                                <input asp-for="Descripcion" class="form-control ml-2" />
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Observacion" class="control-label"></label>
                                <input asp-for="Observacion" class="form-control" />
                                <span asp-validation-for="Observacion" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-danger" asp-action="Index">
                        Volver
                    </a>
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}